<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ func }}</title>
</head>

<body>
<form action="{% url 'wdj:generate' %}" method="post">
    {% csrf_token %}
    <table name="app">
        {% for app in apps%}
        <tr>
            <td><input type="checkbox" name="app" value="{{ app.package_id }}"></td>
            <td>{{ app.package_name }}</td>
            <td>{{ app.package_id }}</td>
        </tr>
        {% endfor %}
    </table>
    <input type="hidden" name="target" value="{{ target }}">
    <input type="submit" value="Submit">
</form>
</body>
</html>