<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ func }}</title>
</head>
<body>
{{ target }}
<br>
<form action="{% url 'wdj:generate' %}" method="get">
<table>
{% for app in apps %}
    <tr>
        <td><input type="checkbox" name="chosenApp{{ forloop.counter }}" value="{{ app.package_id }}"></td>
        <td>{{ app.package_name }}</td>
        <td>{{ app.package_id }}</td>
    </tr>

{% endfor %}
</table>
    <input type="submit" value="确定">
</form>
</body>
</html>